[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[5A4E-5D0C]
row=0
col=0

[324CB9E84CB9A74F]
row=1
col=0

[6C44D3A644D37176]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/march]
row=5
col=0

