[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[2016-02-01-15-37-21-00]
row=1
col=0

[324CB9E84CB9A74F]
row=2
col=0

[EC7A7F537A7F1A12]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=0
col=0

[/home/march]
row=5
col=0

